.user-list-page
  %h2 #{@user_list.name}
  %h4 Autor: #{@user_list.user}
  
  %table.pure-table.pure-table-striped
    %thead
      = render 'table_header'
    %tbody
      = render partial: 'albums/album', collection: @user_list.albums
