%tr
  %td.date-cell= user_rating.created_at.to_formatted_s(:db)
  %td= link_to user_rating.album, user_rating.album
  %td= user_rating.comment
  %td.rating-cell
    .rating{class: "r-#{user_rating.rating}"}= user_rating.rating
  