.user-rating
  .rating{class: "r-#{user_rating.rating}"}= user_rating.rating
  .user= link_to user_rating.user, user_path(user_rating.user)
  .comment= simple_format(user_rating.comment)

.user-rating-location za #{link_to user_rating.album, user_rating.album}
