.album-issues-page {
  
  .album-issue-form {
    width: 300px;
    margin: auto;
  
    textarea {
      width: 290px;
      height: 100px;
      margin: 0 auto 10px;
      padding: 5px;
    
      font-size: 13px;
      font-family: 'Open Sans', serif;
    }
  
  }
}
