.albums-page {

  .filter {
    label {
      margin: 0 15px;
    }
  }

  .albums {
    table {
      width: 80%;
      margin: auto;
      text-align: left;
    }

    .label, .ratings {
      word-break: keep-all;
      white-space: nowrap;
    }

    .ratings {
      text-align: center;
    }

    .ratings .rating {
      display: inline-block;
      width: 30px; height: 30px; line-height: 30px;
      margin-right: 5px;
    }

    .pagination {
      margin: 20px 0;
    }

  }
}

.album-page {

  h4 { margin: 25px 0 5px 0;}

  .album-image {
    max-width: 400px;
  }

  .details {
    margin-bottom: 10px;
  }

  .minor-links {
    font-size: 13px;
    margin: 10px 0;
  }

  .player-container {
    display: none;

    width: 300px;
    margin: auto;
    .track {
      text-align: left;
      cursor: pointer;
      font-size: 12px;
      background: #ddd;
      padding: 5px 10px;
      margin-bottom: 1px;
      &:hover { background: #ccc; }
      &.active { background: #333; color: #eee; }
    }
  }

  .user-rating {
    .edit {
      font-size: 13px;
      text-align: right;
    }
  }
}
