.user-rating {
  position: relative;
  text-align: left;
  width: 250px;
  padding: 10px;
  margin: 20px auto;
  background-color: #eee;
  
  .user { 
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .rating { 
    line-height: 40px; width: 40px; height: 40px; 
    position: absolute; top: -10px; right: -10px;
  }

  .comment {
    margin-top: 10px;
    font-size: 13px;
  }
}

.rating {
  text-align: center;
  border-radius: 50%;
  &.r-1, &.r-2, &.r-3 { background-color: #cd2200;}
  &.r-4, &.r-5 { background-color: #e1c820;}
  &.r-6, &.r-7 { background-color: #8fa722;}
  &.r-8, &.r-9, &.r-10 { background-color: #40df00;}
}

.user-rating-form {
  width: 300px;
  margin: auto;
  
  textarea {
    width: 290px;
    height: 100px;
    margin: 0 auto 10px;
    padding: 5px;
    
    font-size: 13px;
    font-family: 'Open Sans', serif;
  }
  
  .form-actions {
    .rating {float: left; line-height: 38px;}
    .pure-button {float: right;}
  }
}