%h1= link_to "JUGOSLUH", root_path
- if user_signed_in?
  .user-menu
    Prijavljen kao #{link_to current_user.name, current_user}.
    = link_to 'Odjavi se?', destroy_user_session_path
- else
  .user-menu
    = link_to 'Login', new_user_session_path